NisbetPhotography/NisbetPhotography.MultipleImageUploader/Service References/NisbetPhotographyService/NisbetPhotographyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2628/NisbetPhotographyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NisbetPhotography.Website.Business" />
  <xs:import schemaLocation="http://localhost:2628/NisbetPhotographyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAlbumTypeEnum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enumAsInt" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumTypeEnumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NisbetPhotography.Website.Business" minOccurs="0" name="GetAlbumTypeEnumResult" type="q1:AlbumTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageToCustomerAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q2:guid" />
        <xs:element minOccurs="0" name="albumId" type="xs:short" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageToCustomerAlbumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageToPortfolio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portfolioCategoryId" type="xs:short" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageToPortfolioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageToPublicAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicAlbumId" type="xs:short" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageToPublicAlbumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>