NisbetPhotography/NisbetPhotography.MultipleImageUploader/Service References/NisbetPhotographyService/NisbetPhotographyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NisbetPhotographyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2628/NisbetPhotographyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2628/NisbetPhotographyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2628/NisbetPhotographyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NisbetPhotography.Website.Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INisbetPhotographyService_GetAlbumTypeEnum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumTypeEnum" />
  </wsdl:message>
  <wsdl:message name="INisbetPhotographyService_GetAlbumTypeEnum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumTypeEnumResponse" />
  </wsdl:message>
  <wsdl:message name="INisbetPhotographyService_UploadImageToCustomerAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageToCustomerAlbum" />
  </wsdl:message>
  <wsdl:message name="INisbetPhotographyService_UploadImageToCustomerAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageToCustomerAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="INisbetPhotographyService_UploadImageToPortfolio_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageToPortfolio" />
  </wsdl:message>
  <wsdl:message name="INisbetPhotographyService_UploadImageToPortfolio_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageToPortfolioResponse" />
  </wsdl:message>
  <wsdl:message name="INisbetPhotographyService_UploadImageToPublicAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageToPublicAlbum" />
  </wsdl:message>
  <wsdl:message name="INisbetPhotographyService_UploadImageToPublicAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageToPublicAlbumResponse" />
  </wsdl:message>
  <wsdl:portType name="INisbetPhotographyService">
    <wsdl:operation name="GetAlbumTypeEnum">
      <wsdl:input wsaw:Action="http://tempuri.org/INisbetPhotographyService/GetAlbumTypeEnum" message="tns:INisbetPhotographyService_GetAlbumTypeEnum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INisbetPhotographyService/GetAlbumTypeEnumResponse" message="tns:INisbetPhotographyService_GetAlbumTypeEnum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImageToCustomerAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/INisbetPhotographyService/UploadImageToCustomerAlbum" message="tns:INisbetPhotographyService_UploadImageToCustomerAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INisbetPhotographyService/UploadImageToCustomerAlbumResponse" message="tns:INisbetPhotographyService_UploadImageToCustomerAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImageToPortfolio">
      <wsdl:input wsaw:Action="http://tempuri.org/INisbetPhotographyService/UploadImageToPortfolio" message="tns:INisbetPhotographyService_UploadImageToPortfolio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INisbetPhotographyService/UploadImageToPortfolioResponse" message="tns:INisbetPhotographyService_UploadImageToPortfolio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImageToPublicAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/INisbetPhotographyService/UploadImageToPublicAlbum" message="tns:INisbetPhotographyService_UploadImageToPublicAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INisbetPhotographyService/UploadImageToPublicAlbumResponse" message="tns:INisbetPhotographyService_UploadImageToPublicAlbum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INisbetPhotographyService" type="tns:INisbetPhotographyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlbumTypeEnum">
      <soap:operation soapAction="http://tempuri.org/INisbetPhotographyService/GetAlbumTypeEnum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImageToCustomerAlbum">
      <soap:operation soapAction="http://tempuri.org/INisbetPhotographyService/UploadImageToCustomerAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImageToPortfolio">
      <soap:operation soapAction="http://tempuri.org/INisbetPhotographyService/UploadImageToPortfolio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImageToPublicAlbum">
      <soap:operation soapAction="http://tempuri.org/INisbetPhotographyService/UploadImageToPublicAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NisbetPhotographyService">
    <wsdl:port name="BasicHttpBinding_INisbetPhotographyService" binding="tns:BasicHttpBinding_INisbetPhotographyService">
      <soap:address location="http://localhost:2628/NisbetPhotographyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>